<ng-container *ngIf="apiLoaded">

<google-map
  [height]="'100vh'"
  [width]="'100%'"
  [center]="center"
  [zoom]="zoom">

  <map-marker
    *ngFor="let loc of filteredLocations"
    [position]="{ lat: loc.lat, lng: loc.lng }"
    [title]="loc.name"
    (mapClick)="openInfoWindow(marker, loc)"
    #marker="mapMarker">
  </map-marker>

  <map-info-window>
    <strong>{{ selectedLocation?.name }}</strong>
    <p>{{ selectedLocation?.description }}</p>
    <button (click)="popupAlert('Custom action')">More Info</button>
  </map-info-window>

</google-map>
</ng-container>
