<ng-container *ngIf="apiLoaded">

    <google-map
      [height]="'100vh'"
      [width]="'100%'"
      [center]="center"
      [zoom]="zoom">

    <map-marker
    *ngFor="let loc of filteredLocations;let i = index"
    [position]="{ lat: loc.lat, lng: loc.lng }"
    [title]="loc.name"
    #marker
    (mapClick)="openInfoWindow(i, loc)">
    </map-marker>

    <map-info-window>
    <div *ngIf="selectedLocation" class="mapAlertcls">
      <h3>{{ selectedLocation.name }}</h3>
      <p>{{ selectedLocation.description }}</p>
      <img *ngIf="selectedLocation.image" [src]="selectedLocation.image" width="100" />
      <br />
      <button (click)="handleAction(selectedLocation)">Book</button>
    </div>
    </map-info-window>

    </google-map>
    
</ng-container>
